@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji",
    "Segoe UI Emoji";
  background: #050505;
  color: rgba(255,255,255,0.92);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: rgba(255,255,255,0.86);
  text-decoration: none;
}
a:hover {
  color: rgba(255,255,255,0.98);
  text-decoration: underline;
  text-underline-offset: 4px;
}

* {
  box-sizing: border-box;
}
